
#logout {
    position: absolute;
    bottom: 4vh;
    margin-left: 2.25vw;

    &:hover {
        color: rgba(var(--font-color-rgb), .5);
    }

    #confirm-logout {
        display: flex;
        flex-direction: column;
        //border: solid 1px rgba($splash, .5);
        //border-radius: 5px;
        //padding: .5rem;
        span {
            color: rgba(var(--font-color-rgb), .5);
        }
        #confirm-logout-options {
            display: flex;
            flex-direction: row;
            float: left;
            margin-top: 1vh;
            gap: 1rem;
        }
        .inline-button {
            color: $splash;
        }
    }

    .inline-button {
        color: orangered;
    }
}
