.card {
    //background-color: #333344;
    padding: 1.5rem;
    border: solid 1px $splash;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    img {
        height: 1.5rem;
        margin-right: 1rem;
    }

    .card-name {
        padding-right: 1rem;
    }
    .card-value {
        border-left: solid 1px var(--font-color);
        padding-left: 1rem;
    }
}
