#user-selector-overlay {
    //background-color: rgba(var(--font-color-rgb), .1);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: start;
    justify-content: end;

    #user-selector {
        width: 13vw;
        max-width: 315px;
        background-color: var(--main);
        -moz-box-shadow: 0 0 10px rgba(var(--font-color-rgb), .2);
        -webkit-box-shadow: 0 0 10px rgba(var(--font-color-rgb), .2);
        box-shadow: 0 0 10px rgba(var(--font-color-rgb), .2);
        margin-right: 4vh;
        margin-top: 4vh;
        padding: 1.5rem;
        border-radius: 25px;
        display: grid;

        .loader-wrapper {
            span {
                scale: .75;
            }
        }

        #user-selector-title {
            margin-left: 5px;
            margin-bottom: .5rem;

            h1 {
                font-weight: normal;
                font-size: 1rem;
                color: var(--font-color);
            }

            h2 {
                font-weight: normal;
                font-size: 1rem;
                color: rgba(var(--font-color-rgb), .5);
            }
        }

        #user-add {
            color: $splash;
            float: right;
            margin-left: auto;
            margin-right: 5px;

            &:hover {
                color: rgba(var(--font-color-rgb), .5);
            }
        }

        #user-logout {
            color: orangered;
            justify-self: center;

            &:hover {
                color: rgba(var(--font-color-rgb), .5);
            }
        }

        #logout-confirm {
            color: var(--font-color);
            margin-left: 5px;
            margin-top: 1rem;

            #logout-confirm-actions {
                display: flex;
                flex-direction: row;
                gap: .5rem;
                float: left;
                margin-top: .5rem;
            }
        }
    }

    #no-users {
        align-self: center;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #no-user-icon {
            height: 75px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: $splash;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;

            h1 {
                color: var(--main);
                font-size: 2rem;
            }
        }

        h1 {
            color: var(--font-color);
        }

        h2 {
            color: rgba(var(--font-color-rgb), .5);
            margin-top: .5rem;
        }

        #no-user-login-btn {
            margin-top: 2rem;
        }
    }
}
